<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="fr.acinq.eclair.swordfish">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.CAMERA" />

  <application
    android:name=".App"
    android:allowBackup="true"
    android:icon="@mipmap/eclair_launcher"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme.NoActionBar">

    <!-- sugar metas -->
    <meta-data
      android:name="DATABASE"
      android:value="swordfish.db" />
    <meta-data
      android:name="VERSION"
      android:value="5" />
    <meta-data
      android:name="QUERY_LOG"
      android:value="true" />
    <meta-data
      android:name="DOMAIN_PACKAGE_NAME"
      android:value="fr.acinq.eclair.swordfish.model" />

    <!-- activities -->
    <activity
      android:name=".activity.LauncherActivity"
      android:finishOnTaskLaunch="true"
      android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name=".activity.HomeActivity"
      android:label=""
      android:screenOrientation="portrait" />
    <activity
      android:name=".activity.CreatePaymentActivity"
      android:label="Send a Payment"
      android:noHistory="true"
      android:parentActivityName=".activity.HomeActivity"
      android:stateNotNeeded="true"
      android:theme="@style/CustomDialog" />
    <activity
      android:name=".activity.ScanActivity"
      android:noHistory="true"
      android:screenOrientation="fullSensor"
      android:stateNotNeeded="true"
      android:theme="@style/zxing_CaptureTheme"
      android:windowSoftInputMode="stateAlwaysHidden" />
    <activity
      android:name=".activity.OpenChannelActivity"
      android:label="Open a new channel"
      android:noHistory="true"
      android:parentActivityName=".activity.HomeActivity"
      android:stateNotNeeded="true"
      android:theme="@style/CustomDialog" />
    <activity
      android:name=".activity.SettingsActivity"
      android:label="Settings"
      android:parentActivityName=".activity.HomeActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".activity.PaymentDetailsActivity"
      android:label="Payment Details"
      android:parentActivityName=".activity.HomeActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".activity.NetworkChannelsActivity"
      android:label="Channels in Network"
      android:parentActivityName=".activity.SettingsActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".activity.NetworkNodesActivity"
      android:label="Nodes in Network"
      android:parentActivityName=".activity.SettingsActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".activity.ChannelDetailsActivity"
      android:label="Channel Details"
      android:parentActivityName=".activity.HomeActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".activity.PaymentSuccessActivity"
      android:noHistory="true"
      android:screenOrientation="portrait" />
    <activity
      android:name=".activity.PaymentFailureActivity"
      android:noHistory="true"
      android:screenOrientation="portrait" />
  </application>

</manifest>
