<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="fr.acinq.eclair.wallet">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

  <application
    android:name="fr.acinq.eclair.wallet.App"
    android:allowBackup="true"
    android:icon="@mipmap/ic_launcher_testnet"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme.NoActionBar">

    <!-- sugar metas -->
    <meta-data
      android:name="DATABASE"
      android:value="eclairwallet.db" />
    <meta-data
      android:name="VERSION"
      android:value="12" />
    <meta-data
      android:name="QUERY_LOG"
      android:value="true" />
    <meta-data
      android:name="DOMAIN_PACKAGE_NAME"
      android:value="fr.acinq.eclair.wallet.model" />

    <!-- activities -->
    <activity
      android:name="fr.acinq.eclair.wallet.activity.HomeActivity"
      android:label="@string/app_name"
      android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
    <activity
      android:name="fr.acinq.eclair.wallet.activity.CreatePaymentActivity"
      android:label=""
      android:noHistory="true"
      android:parentActivityName="fr.acinq.eclair.wallet.activity.HomeActivity"
      android:screenOrientation="portrait"
      android:stateNotNeeded="true"
      android:theme="@style/CustomDialog" />
    <activity
      android:name="fr.acinq.eclair.wallet.activity.ScanActivity"
      android:noHistory="true"
      android:screenOrientation="portrait"
      android:stateNotNeeded="true"
      android:theme="@style/zxing_CaptureTheme"
      android:windowSoftInputMode="stateAlwaysHidden" />
    <activity
      android:name="fr.acinq.eclair.wallet.activity.OpenChannelActivity"
      android:label=""
      android:noHistory="true"
      android:parentActivityName="fr.acinq.eclair.wallet.activity.HomeActivity"
      android:screenOrientation="portrait"
      android:stateNotNeeded="true"
      android:theme="@style/CustomDialog" />
    <activity
      android:name="fr.acinq.eclair.wallet.activity.SettingsActivity"
      android:label="@string/settings_name"
      android:parentActivityName="fr.acinq.eclair.wallet.activity.HomeActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name="fr.acinq.eclair.wallet.activity.LNPaymentDetailsActivity"
      android:label="@string/lnpayment_name"
      android:parentActivityName="fr.acinq.eclair.wallet.activity.HomeActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name="fr.acinq.eclair.wallet.activity.BitcoinTransactionDetailsActivity"
      android:label="@string/btcpayment_name"
      android:parentActivityName="fr.acinq.eclair.wallet.activity.HomeActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name="fr.acinq.eclair.wallet.activity.NetworkChannelsActivity"
      android:label="@string/networkchannels_name"
      android:parentActivityName="fr.acinq.eclair.wallet.activity.SettingsActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name="fr.acinq.eclair.wallet.activity.NetworkNodesActivity"
      android:label="@string/networknodes_name"
      android:parentActivityName="fr.acinq.eclair.wallet.activity.SettingsActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name="fr.acinq.eclair.wallet.activity.ChannelDetailsActivity"
      android:label="@string/channeldetails_name"
      android:parentActivityName="fr.acinq.eclair.wallet.activity.HomeActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name="fr.acinq.eclair.wallet.activity.PaymentSuccessActivity"
      android:noHistory="true"
      android:screenOrientation="portrait" />
    <activity
      android:name="fr.acinq.eclair.wallet.activity.PaymentFailureActivity"
      android:noHistory="true"
      android:screenOrientation="portrait" />
    <activity
      android:name="fr.acinq.eclair.wallet.activity.AboutActivity"
      android:label="@string/about_name"
      android:parentActivityName="fr.acinq.eclair.wallet.activity.HomeActivity"
      android:screenOrientation="portrait" />
  </application>

</manifest>
