<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="fr.acinq.eclair.wallet">

  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
  <uses-permission android:name="android.permission.CAMERA" />

  <supports-screens
    android:anyDensity="true"
    android:largeScreens="true"
    android:normalScreens="true"
    android:resizeable="true"
    android:smallScreens="true"
    android:xlargeScreens="true" />

  <application
    android:name=".App"
    android:allowBackup="true"
    android:fullBackupContent="true"
    android:icon="@mipmap/ic_launcher_testnet"
    android:label="@string/app_name"
    android:supportsRtl="true"
    android:theme="@style/AppTheme">

    <!-- activities -->
    <activity
      android:name=".activities.StartupActivity"
      android:label="@string/app_name"
      android:launchMode="singleTask"
      android:screenOrientation="portrait"
      android:theme="@style/SplashTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <!-- bitcoin uri scheme -->
      <intent-filter android:label="@string/app_name">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.BROWSABLE" />
        <category android:name="android.intent.category.DEFAULT" />

        <data android:scheme="bitcoin" />
        <data android:scheme="lightning" />
      </intent-filter>
    </activity>
    <activity
      android:name=".activities.CreateWalletRecoveryActivity"
      android:launchMode="singleTop"
      android:parentActivityName=".activities.StartupActivity"
      android:screenOrientation="portrait"
      android:theme="@style/PrimaryBgTheme" />
    <activity
      android:name=".activities.ImportWalletActivity"
      android:noHistory="true"
      android:parentActivityName=".activities.StartupActivity"
      android:screenOrientation="portrait"
      android:theme="@style/PrimaryBgTheme" />
    <activity
      android:name=".activities.HomeActivity"
      android:label="@string/app_name"
      android:launchMode="singleTask"
      android:screenOrientation="portrait" />
    <activity
      android:name=".activities.SendPaymentActivity"
      android:label=""
      android:launchMode="singleTop"
      android:parentActivityName=".activities.HomeActivity"
      android:stateNotNeeded="true"
      android:theme="@style/CustomDialog" />
    <activity
      android:name=".activities.ScanActivity"
      android:noHistory="true"
      android:screenOrientation="portrait"
      android:stateNotNeeded="true"
      android:theme="@style/scanTheme"
      android:windowSoftInputMode="stateAlwaysHidden" />
    <activity
      android:name=".activities.OpenChannelActivity"
      android:label=""
      android:launchMode="singleTop"
      android:parentActivityName=".activities.HomeActivity"
      android:stateNotNeeded="true"
      android:theme="@style/CustomDialog"
      android:windowSoftInputMode="stateVisible" />
    <activity
      android:name=".activities.NetworkInfosActivity"
      android:label="@string/networkinfos_name"
      android:parentActivityName=".activities.HomeActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".activities.LNPaymentDetailsActivity"
      android:label="@string/lnpayment_name"
      android:parentActivityName=".activities.HomeActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".activities.BitcoinTransactionDetailsActivity"
      android:label="@string/btcpayment_name"
      android:parentActivityName=".activities.HomeActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".activities.ChannelDetailsActivity"
      android:label="@string/channeldetails_name"
      android:parentActivityName=".activities.HomeActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".activities.PaymentSuccessActivity"
      android:noHistory="true"
      android:screenOrientation="portrait" />
    <activity
      android:name=".activities.PaymentFailureActivity"
      android:noHistory="true"
      android:screenOrientation="portrait" />
    <activity
      android:name=".activities.AboutActivity"
      android:label="@string/about_name"
      android:parentActivityName=".activities.HomeActivity"
      android:screenOrientation="portrait" />
    <activity
      android:name=".activities.PreferencesActivity"
      android:label="@string/menu_preferences"
      android:parentActivityName=".activities.PreferencesActivity"
      android:screenOrientation="portrait"
      android:theme="@style/AppTheme.ForceBar" />
    <activity
      android:name=".activities.ChannelRawDataActivity"
      android:label="@string/channelrawdata_name"
      android:parentActivityName=".activities.ChannelDetailsActivity"
      android:screenOrientation="portrait" />
    <activity android:name=".activities.ToolsActivity"
      android:label="@string/tools_name"
      android:parentActivityName=".activities.HomeActivity"
      android:screenOrientation="portrait" />
  </application>

</manifest>
